@page
@using carswebapp.Manufacturers;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome VijayM Motors Showroom </h1>
    <table class="table table-bordered">
        <thead>

            <tr>
                <th scope="col"> ProductImage</th>
                <th scope="col"> Manufacturer</th>
                <th scope="col"> Variant</th>
                <th scope="col"> Type</th>
                <th scope="col"> Price</th>

             </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model.vehicle)
            {
                <tr>
                    <th scope="row">@vehicle.ProductImage</th>
                    <th scope="row">@vehicle.Manufacturer</th>
                    <td scope="row">@vehicle.Variant</td>
                    <td scope="row">@vehicle.Type</td>
                    <td scope="row">@vehicle.Price</td>
                    
                </tr>
            };
        </tbody>
    </table>
</div>
